{% extends "blog/base.html"%}

{% block content %}

    <div>
        <h1>About Me</h1>
        <p>
            <h5>Thank You! for visiting <em> Writing Addict.</em></h5>
            I humbly appreciate your visit to one of my fascinating project ever.
            <br>
            <br>
            <b>Writing Addict</b> is a blog application to write posts about anything
            like business ideas, guides, information, current affairs and the list
            goes on.
            <br>
            <br>
            If you ever wanted to write posts and share your ideas or your work
            <br>
            to the world, then just <a href="{% url 'register'%}">Sign Up</a> and start writing!
            <br>
            <br>
            Thank You for your time,
            <br>
            <b>Subham Mani</b>
            
        </p>
    </div>

{% endblock content%}
